<!-- <div class=" container" *ngIf="IsVisible" style="width: 90%; margin:auto">
  <div class=" row">
    <owl-carousel-o [options]="customOptions" >
      <ng-container *ngFor="let slide of brands">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="storage + slide.logo" [alt]="slide.designation_fr" [title]="slide.designation_fr" [width]="200" height="80" style="height: 90px ;padding: 15px; cursor : pointer"
          [routerLink]="['/brand' , slide.designation_fr , slide.id]">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>


</div>
 -->
