<app-breadcrumbs [page]="'contact'">

</app-breadcrumbs>
<div class="contact_page_bg">
  <!--contact map start-->
  <div class="contact_map">
     <div class="map-area" [innerHTML]="map">

     </div>
  </div>
  <!--contact map end-->
  <div class="container">
      <!--contact area start-->
      <div class="contact_area">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                 <div class="contact_message content">
                      <h3 style="color:#ff4000">Restez en contact</h3>
                       <p>Contactez-nous par tél, E-mail ou en utilisant ce formulaire, notre service client sise à Sousse “Proteine Tunisie” vous répondra dans les meilleurs délais.</p>
                      <ul>
                          <li><i class="fa-solid fa-location-dot" style="color:#ff4000"></i> Adresse : {{coordonnees.adresse_fr}}</li>
                          <li><i class="fa-solid fa-envelope" style="color:#ff4000"></i> <a href="#">{{coordonnees.email}}</a></li>
                          <li><i class="fa fa-fax" style="color:#ff4000"></i>   {{coordonnees.phone_2}}</li>
                          <li><i class="fa fa-phone" style="color:#ff4000"></i> {{coordonnees.phone_1}}</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12">
                 <div class="contact_message form">
                      <h3 style="color:#ff4000">Partager votre besoin</h3>
                      <form  [formGroup]="contactForm">
                          <p>
                             <label> Votre Nom (obligatoire)</label>
                              <input name="name" placeholder="Nom *"  formControlName="name" type="text">
                          </p>
                          <p>
                             <label>  Votre Email (obligatoire)</label>
                              <input name="email" placeholder="Email *"   formControlName="email"  type="email">
                          </p>

                          <div>
                              <label>  Votre Message </label>
                              <textarea placeholder="Message *" name="message"   formControlName="message"   class="form-control2" ></textarea>
                          </div>
                          <button type="submit" [disabled]="!contactForm.valid" (click)="sendEmail()"> Envoyer</button>
                          <p class="form-messege"></p>
                      </form>

                  </div>
              </div>
          </div>
      </div>
      <!--contact area end-->
  </div>
</div>

