
<div class="choseus_area" style="margin: 0; padding-bottom: 5px;padding-top: 25px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6" *ngFor="let service of services" >
        <div class="single_chose card">
          <div class="chose_icone">
            <img [src]="storage+service.icon"
            fetchpriority="auto"
            [alt]="service.designation_fr"
            [title]="service.designation_fr"
         />
          </div>
          <div class="chose_content">
            <h3 style="min-height: 40px;">{{service.designation_fr}}</h3>
            <p style="min-height: 48px;"><strong>{{service.description_fr}}</strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class=" container"  style="width: 90%; margin:auto ; margin-top:50px; margin-bottom : 50px">
  <div class=" row">

    <owl-carousel-o  *ngIf="show_brands && brands1 && brands1.length " [options]="customOptions">    ttt
      <ng-container *ngFor="let slide of brands1">
        <ng-template carouselSlide [id]="slide.id">
          <img loading="lazy" [src]="storage + slide.logo" [alt]="slide.designation_fr" [title]="slide.designation_fr" [width]="200" height="80" style="height: 90px ;padding: 15px; cursor : pointer"
          [routerLink]="['/brand' , slide.designation_fr , slide.id]">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>


</div>
<footer class="footer_widgets">
  <!--newsletter area start-->
  <div class="newsletter_area newsletter_three">
    <div class="container">
      <div class="newsletter_inner">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="newsletter_container">
              <p class="my_h3">Suivez-nous</p>
              <p>
                {{coordonnees.social_media_text_fr}}
              </p>
              <div class="footer_social">
                <ul>
                  <li *ngIf="coordonnees.facebook_link">
                    <a class="facebook" href="{{coordonnees.facebook_link}}" target="_blank"
                      ><i class="fa-brands fa-facebook"></i
                    ></a>
                  </li>
                  <li *ngIf="coordonnees.twitter_link">
                    <a class="twitter" href="{{coordonnees.twitter_link}}" target="_blank"
                      ><i class="fa-brands fa-twitter"></i
                    ></a>
                  </li>

                  <li  *ngIf="coordonnees.youtube_link">
                    <a class="youtube"href="{{coordonnees.youtube_link}}" target="_blank">
                      <i class="fa-brands fa-youtube"></i></a>
                  </li>
                  <li *ngIf="coordonnees.google_link">
                    <a class="google" href="{{coordonnees.google_link}}" target="_blank">
                      <i class="fa-brands fa-google"></i></a>
                  </li>
                  <li *ngIf="coordonnees.instagram_link">
                    <a class="instagram2" href="{{coordonnees.instagram_link}}" target="_blank"
                      ><i class="fa-brands fa-instagram"></i
                    ></a>
                  </li>
                  <li *ngIf="coordonnees.whatsapp_link">
                    <a class="whatsapp" href="{{coordonnees.whatsapp_link}}" target="_blank"
                      ><i class="fa-brands fa-whatsapp"></i
                    ></a>
                  </li>
                  <li *ngIf="coordonnees?.tiktok_link">
                    <a class="tiktok" href="{{coordonnees.tiktok_link}}" target="_blank"
                      >
                      <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="16" width="14" viewBox="0 0 448 512"><path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"/></svg>
                    </a>
                  </li>
                  <li *ngIf="coordonnees.linkedin_link">
                    <a class="facebook" href="{{coordonnees.linkedin_link}}" target="_blank"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="newsletter_container">
              <p class="my_h3">Abonnez-vous</p>
              <p>
                {{coordonnees.newsletter_text_fr}}
              </p>
              <div class="subscribe_form">
                <form  class="mc-form footer-newsletter" [formGroup]="form">
                  <input
                    id="mc-email"
                    type="email"
                    formControlName="email"
                    autocomplete="off"
                    placeholder="Ecrire votre email ici ..."
                  />
                  <button [disabled]="!form.valid" (click)="sendNewsletter()">Subscribe</button>
                </form>
                <!-- mailchimp-alerts Start -->
                <div class="mailchimp-alerts text-centre">
                  <div class="mailchimp-submitting"></div>
                  <!-- mailchimp-submitting end -->
                  <div class="mailchimp-success"></div>
                  <!-- mailchimp-success end -->
                  <div class="mailchimp-error"></div>
                  <!-- mailchimp-error end -->
                </div>
                <!-- mailchimp-alerts end -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-7">
            <div class="newsletter_container col_3">
              <p class="my_h3">Télécharger Notre Application</p>
              <p>
               {{coordonnees.store_text_fr}}
              </p>
              <div class="app_img store">
                <ul>
                  <li *ngIf="coordonnees.playstore_link">
                    <a href='https://play.google.com/store/apps/details?id=io.abdelbari.sobitas&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible sur Google Play' loading="lazy" src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png'/></a>
                  </li>
                  <li>
                    <a href="{{coordonnees.playstore_link}}" target="_blank"
                      ><img  src="assets/img/appstore-336-119.webp" width="336" height="119" alt="playstore" loading="lazy"
                      fetchpriority="auto"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--newsletter area end-->
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="widgets_container">
            <p class="my_h3">CONTACT INFO</p>
            <div class="footer_contact">
              <div class="footer_contact_inner">
                <div class="contact_icone">
                  <svg fill="#FF4000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="60px" height="60px" viewBox="0 0 490.658 490.657"
                  xml:space="preserve">
               <g>
                 <path d="M489.833,245.876c-1.682-22.136-6.072-44.071-13.127-65.125c-6.891-20.565-16.326-40.29-28.184-58.458
                   c-11.447-17.541-25.152-33.635-40.853-47.513c-14.916-13.186-31.619-24.312-49.551-32.963
                   c-18.229-8.795-37.652-15.007-57.537-18.729c-21.106-3.95-42.731-5.158-64.164-3.968c-21.031,1.167-41.947,4.794-62.023,11.216
                   c-19.24,6.156-37.648,14.881-54.504,26.025c-17.545,11.6-33.34,25.77-46.918,41.824c-7.703,9.105-14.697,18.804-20.953,28.956
                   c-0.758,1.228-1.502,2.461-2.238,3.701c-0.367,0.621-0.732,1.244-1.094,1.868c-0.182,0.312-0.363,0.625-0.543,0.938
                   c-0.328,0.569-0.271,0.652-0.891,0.433c-2.17-0.77-4.43-1.289-6.719-1.537c-4.418-0.478-8.928,0.064-13.111,1.559
                   c-8.014,2.864-14.502,9.16-17.602,17.086c-1.553,4.012-3.121,7.986-4.383,12.102c-1.658,5.417-2.941,10.942-3.826,16.541
                   c-1.922,12.182-2.027,24.579-0.846,36.84c1.225,12.699,3.924,25.208,7.504,37.441c1.045,3.572,2.168,7.104,3.371,10.623
                   c0.488,1.429,1,2.842,1.541,4.251c0.471,1.223,0.178,3.054,0.213,4.369c0.074,2.781,0.189,5.562,0.35,8.339
                   c1.256,21.874,5.178,43.604,11.785,64.497c6.438,20.348,15.43,39.907,26.932,57.893c5.662,8.854,11.93,17.322,18.777,25.297
                   c1.705,1.986,3.445,3.941,5.223,5.865c1.691,1.832,3.348,3.914,5.482,5.247c4.059,2.534,9.4,2.331,13.256-0.501
                   c3.801-2.792,5.607-7.716,4.504-12.303c-0.629-2.613-2.293-4.826-3.623-7.118c-1.506-2.599-2.947-5.233-4.326-7.901
                   c-5.533-10.711-10.014-21.958-13.408-33.525c-0.377-1.283-0.74-2.571-1.09-3.862c4.342,4.919,8.693,9.797,13.227,14.54
                   c4.49,4.701,9.068,9.273,13.744,13.793c9.105,8.803,18.771,16.972,28.674,24.861c4.785,3.812,9.824,7.39,14.816,10.924
                   c2.514,1.777,5.158,3.392,7.738,5.07c1.252,0.814,2.502,1.629,3.754,2.442c1.201,0.781,2.656,1.485,3.715,2.45
                   c1.918,1.75,1.656,5.062,2.24,7.388c0.709,2.818,2.99,4.472,5.131,6.258c3.998,3.342,8.592,6.064,13.502,7.836
                   c2.756,0.995,5.432,1.436,8.355,0.892c3.668-0.683,6.996-2.77,9.201-5.777c3.949-5.386,3.713-12.983-0.543-18.125
                   c-2.545-2.98-6.252-5.185-9.682-6.984c-2.676-1.404-5.467-2.691-8.277-3.803c-1.313-0.518-2.502-1.031-3.934-0.805
                   c-1.508,0.239-2.947,0.763-4.391,1.23c-1.143,0.37-2.512,0.719-3.688,0.301c-1.238-0.44-2.461-1.52-3.471-2.326
                   c-2.424-1.936-4.689-3.881-7.117-5.81c-4.764-3.781-9.328-7.883-13.777-12.03c-9.314-8.685-18.195-17.962-26.34-27.751
                   c-4.17-5.011-8.229-10.062-12.17-15.254c-3.93-5.178-7.633-10.49-11.34-15.827c-3.699-5.324-7.018-10.914-10.451-16.413
                   c-3.219-5.752-6.594-11.441-9.5-17.356c-2.891-5.882-5.748-11.737-8.326-17.763c-2.555-5.967-4.828-11.998-7.016-18.106
                   c-4.262-11.901-7.287-24.35-9.527-36.781c-1.805-10.023-2.645-20.289-2.43-30.472c0.123-5.835,0.641-11.656,1.76-17.388
                   c1.084-5.545,2.574-11.187,5.057-16.285c1.236-2.537,2.516-5.031,4.107-7.365c1.27-1.858,2.545-3.696,3.557-5.714
                   c2.336-4.664,3.918-10.483,3.041-15.143c-0.875-4.659,3.531-6.503,6.045,0.651c3.301,9.391,2.83,19.888-1.027,29.072
                   c-0.926,2.205-2.045,4.309-3.301,6.342c-0.582,0.944-1.221,1.871-1.725,2.86c-1.619,3.189-3.086,6.479-3.947,9.965
                   c-1.186,4.81-2.043,9.629-2.375,14.587c-0.408,6.092-0.16,12.235,0.426,18.307c0.723,7.481,1.855,15.08,3.832,22.353
                   c0.662,2.435,1.273,4.868,1.936,7.303c0.535,1.97,1.191,4.029,1.908,5.908c4.762,12.493,16.684-30.89,28.943-50.522
                   c10.979-17.579,25.104-33.111,41.445-45.846c6.184-4.82,12.678-9.241,19.418-13.247l0,0c8.666,18.676,20.6,35.75,34.326,51.047
                   c15.107,16.833,32.473,31.604,51.189,44.277c19.966,13.521,41.556,24.771,64.291,32.856c20.688,7.358,42.455,12.145,64.445,12.86
                   c20.606,0.67,41.422-2.363,60.612-10.047c3.396,22.669,2.412,45.938-2.803,68.256c-2.611,11.176-6.273,22.104-10.912,32.601
                   c-2.34,5.294-4.928,10.478-7.75,15.531c-1.42,2.542-2.9,5.051-4.438,7.523c-1.361,2.188-2.705,4.217-3.066,6.827
                   c-0.664,4.824,1.783,9.677,6.059,12.01c4.955,2.705,10.726,1.373,14.545-2.562c7.097-7.31,13.664-15.128,19.658-23.364
                   c12.144-16.677,21.918-35.037,29.24-54.314c7.564-19.915,12.518-40.795,14.965-61.95
                   C490.888,281.56,491.185,263.652,489.833,245.876C485.392,187.423,489.833,245.876,489.833,245.876z"/>
               </g>
               </svg>
                </div>
                <div class="contact_text">
                  <p>
                    Service SOBITAS<br />
                    <strong
                      ><a href="tel:{{coordonnees?.phone_1}}">{{coordonnees?.phone_1}} {{coordonnees && coordonnees.phone_2 ? ' | ' +coordonnees.phone_2 : ''}}</a>
                    </strong>
                  </p>
                </div>
              </div>

              <p style="margin-bottom: 0px">
                {{coordonnees.short_description_fr}}
              </p>
              <p style="margin-bottom: 0px"><b>Email:</b> {{coordonnees.email}}</p>
              <p><b>Adresse:</b>  {{coordonnees.adresse_fr}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="footer_col_container">
            <div class="widgets_container widget_menu2">
              <p class="my_h3">Services & Ventes</p>
              <div class="footer_menu">
                <ul>
                  <li><a routerLink="/condition-ventes">Conditions générale de ventes </a></li>
                  <li><a routerLink="/remboursement">Politique de remboursement</a></li>
                  <li><a routerLink="/">Politique des cookies</a></li>
                  <li><a routerLink="/page/qui-sommes-nous">Qui somme nous</a></li>

                </ul>
              </div>
            </div>
            <div class="widgets_container widget_menu2">
              <p class="my_h3">Navigation</p>
              <div class="footer_menu">
                <ul>
                  <li><a routerLink="/">Accueil </a></li>
                  <li><a routerLink="/shop">Nos produits</a></li>
                  <li><a routerLink="/page/qui-sommes-nous">Qui somme nous</a></li>
                  <li><a routerLink="/pack/packs">Packs</a>
                  </li>
                  <li><a routerLink="/blogs">Blog</a>
                  </li>
                  <li><a routerLink="/contact"> Contacter nous</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widgets_container">
            <p class="my_h3">Gélocalisation</p>

              <p [innerHTML]="map"> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="copyright_area text-center">
            <!-- <p>&copy; 2023 <a href="#" class="text-uppercase">SOBITAS</a>. Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.hasthemes.com">HasThemes</a></p> -->
            <p>&copy; {{today | date:'yyy'}} <a href="/" class="text-uppercase">{{coordonnees.copyright}}</a></p>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6">
          <div class="footer_payment text-right">
            <img src="assets/img/icon/payment.png" alt="" />
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->
