 <!--breadcrumbs area start-->
<!--  <div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">home</a></li>
                      <li>My account</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="login_page_bg">
  <div class="container">
      <div class="customer_login">
          <div class="row">
             <!--login area start-->
              <div class="col-lg-6 col-md-6">
                  <div class="account_form login">
                      <h2>Se connecter</h2>
                      <form [formGroup]="login" (ngSubmit)="signin()">
                          <p>
                              <label>Adresse mail <span>*</span></label>
                              <input type="email" formControlName="email">
                              <small class="text-danger" *ngIf="login.get('email')?.errors?.['email']">Format
                                d'adresse mail non valide</small>
                            </p>
                           <p>
                              <label>Mot de passe <span>*</span></label>
                              <input type="password" formControlName="password">
                              <small class="text-danger" *ngIf="login.get('password')?.errors?.['minlength']">Le
                                mot de passe doit contenir au minimum 6 caractéres</small>
                            </p>
                          <div class="login_submit">
                           <!--   <a href="#">Lost your password?</a>
                              <label for="remember">
                                  <input id="remember" type="checkbox">
                                  Remember me
                              </label> -->
                              <button type="submit" [disabled]="!login.valid">Se connecter</button>

                          </div>

                      </form>
                   </div>
              </div>
              <!--login area start-->

              <!--register area start-->
              <div class="col-lg-6 col-md-6">
                  <div class="account_form register">
                      <h2>Inscription</h2>
                      <form  [formGroup]="registre" (ngSubmit)="signUp()">
                        <p>
                          <label>Nom et prénom  <span>*</span></label>
                          <input type="text" formControlName="name">
                          <small class="text-danger" *ngIf="registre.get('name')?.errors?.['minlength']">Veuillez entrer un nom valide</small>
                       </p>
                       <p>
                        <label>Numéro de téléphone  <span>*</span></label>
                        <input type="number" formControlName="phone">
                        <small class="text-danger" *ngIf="registre.get('phone')?.errors?.['min'] || registre.get('phone')?.errors?.['max']">Veuillez entrer un numéro de téléphone valide</small>

                     </p>
                        <p>
                              <label>Email address  <span>*</span></label>
                              <input type="email" formControlName="email">
                           </p>
                           <p>
                              <label>Passwords <span>*</span></label>
                              <input type="password" formControlName="password">
                              <small class="text-danger"
                              *ngIf="registre.get('password')?.errors?.['minlength']">Le mot de passe doit
                              contenir au minimum 6 caractéres</small>
                            </p>
                          <div class="login_submit">
                              <button type="submit"  [disabled]="!registre.valid">S'inscrire</button>
                          </div>
                      </form>
                  </div>
              </div>
              <!--register area end-->
          </div>
      </div>
  </div>
</div>


