   <!--product area start-->
   <div class="product_area product_deals" *ngIf="products && products.length >0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                   <h2>Ventes Flash</h2>
                    <p>Ne ratez pas nos promotions </p>
                </div>
            </div>
        </div>
        <div class="product_deals_container">
            <div class="row">
                   <div class="col-lg-6 col-6" *ngFor="let product of products">
                      <app-vente-flash-product [product]="product"></app-vente-flash-product>
                   </div>

            </div>
        </div>
    </div>
</div>
<!--product area end-->
