<article class="single_product" style="margin-bottom: 15px">
  <figure>
    <div class="product_thumb">
      <a class="primary_img aimg" [routerLink]="['/shop', product.slug]">
        <img [src]="
            product.cover
              ? storage + product.cover
              : 'assets/img/product/p1.webp'
          " [alt]="product.alt_cover ? product.alt_cover : product.designation_fr" [title]="
            product.description_cover
              ? product.description_cover
              : product.designation_fr
          " width="300" height="350" /></a>
      <div class="label_product">
        <span class="label_sale">-{{ percentage }}%</span>
      </div>
    </div>
    <div class="product_content">
      <h4 class="product_name">
        <a [routerLink]="['/shop', product.slug]">
          {{ product.designation_fr }}</a>
      </h4>
      <div class="product_rating">
        <ul>
          <li>
            <i class="{{
                product.note && product.note >= 1
                  ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
              }}"></i>
          </li>
          <li>
            <i class="{{
                product.note && product.note >= 2
                ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
              }}"></i>
          </li>
          <li>
            <i class="{{
                product.note && product.note >= 3
                ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
              }}"></i>
          </li>
          <li>
            <i class="{{
                product.note && product.note >= 4
                ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
              }}"></i>
          </li>
          <li>
            <i class="{{
                product.note && product.note >= 5
                ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
              }}"></i>
          </li>
        </ul>
      </div>
      <div class="price_box">
        <span class="old_price" *ngIf="product.promo">
          {{ product.prix }} DT</span>
        <span class="current_price">{{ product.promo ? product.promo : product.prix }} DT</span>
      </div>
      <div class="product_desc">
        <p>{{ product.meta_description }}</p>
      </div>
      <div class="countdown_text">
        <p><span>dépêchez-vous!</span> Les offres se terminent en :</p>
      </div>
      <div class="product_timing">
        <div>
          <div class="countdown_area">
            <div class="single_countdown">
              <div class="countdown_number">{{ _days }}</div>
              <div class="countdown_title">Jours</div>
            </div>
            <div class="single_countdown">
              <div class="countdown_number">{{ _hours }}</div>
              <div class="countdown_title">Heures</div>
            </div>
            <div class="single_countdown">
              <div class="countdown_number"> {{ _minutes }}</div>
              <div class="countdown_title">mins</div>
            </div>
            <div class="single_countdown">
              <div class="countdown_number">{{ _seconds }}</div>
              <div class="countdown_title">secs</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </figure>
</article>
