<div class="checkout_page_bg">
  <div class="container">
    <div class="Checkout_section" id="accordion">

      <div class="checkout_form" *ngIf="commande">
        <div class="row">
          <div class="alert alert-success"><h2 style="text-align: center;"> Merci pour votre commande</h2></div>
        </div>
        <div class="row">
          <div class="{{commande.livraison_nom ? 'col-lg-4 col-md-4' :  'col-lg-6 col-md-6'}} ">
            <div class="checkout_form_right">

                <h3>Bon de commande </h3>
                <div class="order_table table-responsive">
                  <table>
                    <tbody>
                      <tr>
                        <td>Numéro de commande </td>
                        <td>{{commande.numero}}</td>
                      </tr>
                      <tr>
                        <td>Date de commande </td>
                        <td>{{commande.created_at | date:'dd-MM-yyy'}}</td>
                      </tr>
                    </tbody>

                  </table>
                </div>


            </div>
          </div>
          <div class="{{commande.livraison_nom ? 'col-lg-4 col-md-4' :  'col-lg-6 col-md-6'}} ">

            <div class="checkout_form_right">

                <h3>INFORMATION DE FACTURATION </h3>
                <div class="order_table table-responsive">
                  <table>
                    <tbody>
                      <tr>
                        <td>{{commande.nom}} {{commande.prenom}}</td>
                      </tr>
                      <tr>
                        <td>{{commande.email}} - {{commande.phone}}</td>
                      </tr>
                      <tr>
                        <td>{{commande.adresse1}}, {{commande.adresse2}}</td>
                      </tr>
                      <tr *ngIf="commande.vile || commande.region || commande.code_postale">
                        <td>{{commande.ville}}, {{commande.region}} {{commande.code_postale}}</td>
                      </tr>
                    </tbody>

                  </table>
                </div>


            </div>
          </div>
          <div *ngIf="commande.livraison_nom" class="{{commande.livraison_nom ? 'col-lg-4 col-md-4' :  'col-lg-6 col-md-6'}} ">

            <div class="checkout_form_right">

                <h3>INFORMATION DE LIVRAISON </h3>
                <div class="order_table table-responsive">
                  <table>
                    <tbody>
                      <tr>
                        <td>{{commande.livraison_nom}} {{commande.livraison_prenom}}</td>
                      </tr>
                      <tr>
                        <td>{{commande.livraison_email}} - {{commande.livraison_phone}}</td>
                      </tr>
                      <tr>
                        <td>{{commande.livraison_adresse1}}, {{commande.livraison_adresse2}}</td>
                      </tr>
                      <tr *ngIf="commande.livraison_vile || commande.livraison_region || commande.livraison_code_postale">
                        <td>{{commande.livraison_ville}}, {{commande.livraison_region}} {{commande.livraison_code_postale}}</td>
                      </tr>
                    </tbody>

                  </table>
                </div>


            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <div class="checkout_form_right">

                <h3>DETAILS DE COMMANDE</h3>
                <div class="order_table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Produits</th>
                        <th>Totale</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let p of details ; let position = index">
                        <td>{{p.produit?.designation_fr}} <strong> × {{p.qte}}</strong></td>
                        <td>{{p.prix_ttc  |number:'1.3-5'}} DT</td>
                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Sous totale</th>
                        <td><strong>{{commande.prix_ht | number:'1.3-5'}} DT </strong></td>
                      </tr>
                      <tr *ngIf="commande.frais_livraison ">
                        <th>Livraison</th>
                        <td><strong> {{commande.frais_livraison | number:'1.3-5'}} DT</strong></td>
                      </tr>
                      <tr class="order_total">
                        <th>Totale</th>
                        <td><strong>{{(commande.prix_ttc) | number:'1.3-5'}} DT</strong></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
