<app-breadcrumbs [page]="article?.designation_fr"></app-breadcrumbs>

<div class="blog_bg_area blog_details_bg" *ngIf="article">
  <div class="container">
    <div class="blog_page_section">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <!--blog grid area start-->
          <div class="blog_wrapper blog_details">
            <article class="single_blog">
              <figure>
                <div class="post_header">
                  <h3 class="post_title">{{article?.designation_fr}}</h3>
                  <div class="blog_meta">
                    <span class="author">publié par : <a>Admin</a> / </span>
                    <span class="meta_date">publié le : <a>{{article.created_at | date:'dd-MM-yyy'}}</a> /</span>

                  </div>
                </div>
                <div class="blog_thumb">
                  <img [src]="article.cover ? storage+article.cover : 'assets/img/blog/blog-big1.jpg'"
                    [alt]="article.alt_cover ? article.alt_cover : article.designation_fr"
                    [title]="article.description_cover ? article.description_cover : article.designation_fr"
                    loading="lazy" fetchpriority="auto">
                </div>
                <div>
                  <app-social-share [description]="article.designation_fr"></app-social-share>
                </div>
                <figcaption class="blog_content">
                  <div class="post_content">
                    <p [innerHTML]="article.description | safe: 'html'"></p>
                  </div>
                </figcaption>
              </figure>
            </article>
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-cfeaa155-3834-4e9d-aa42-85edf3242cda" data-elfsight-app-lazy></div>

            <div class="related_posts">
              <h3>Publications similaires</h3>
              <div class="row">

                <div class="col-lg-3 col-md-6" *ngFor="let article of articles">
                  <app-article [article]="article"></app-article>
                </div>

              </div>
            </div>


          </div>
          <!--blog grid area start-->
        </div>

      </div>
    </div>
  </div>
</div>
<div class="hidden_content" [innerHTML]="article.content">
</div>
