<div class="search_container test">
  <form [formGroup]="searchForm">
    <div class="hover_category">
      <select

        class="select_option pointer w-100"
        name="select"
        formControlName="slug"
        id="categori2"
      >
        <option selected value="0">Tous les categories</option>

        <optgroup
          *ngFor="let category of menu"
          [label]="category?.designation_fr"
        >
          <option
            *ngFor="let subcateg of category.sous_categories"
            [value]="subcateg?.slug"
            class="pointer"
          >
            {{ subcateg?.designation_fr }}
          </option>
        </optgroup>
      </select>
    </div>

    <div class="search_box">
      <input
        placeholder="Rechercher votre produit..."
        (keyup)="search()"

        id="ss"
        (focusout)="closeSearch($event)"
        formControlName="text"
        type="text"
        autocomplete="false"
      />

      <div id="so"
        class="search-result"
        *ngIf="searchedProducts && searchedProducts.length > 0"
      >
        <ul >
          <li *ngFor="let p of searchedProducts">
            <div class="row pointer"   (click)="navigate(p.slug)">
              <div class="col-md-3">
                <img [src]="p.cover ? storage+p.cover : 'assets/img/product/p1.webp'" alt="{{p.designation_fr}}" style="

                    width: 63px;
                    margin: auto;
                    height: 52px;
                    display: block;">
              </div>
              <div class="col-md-9">
                {{ p.designation_fr }}
              </div>
            </div>

          </li>
        </ul>
      </div>
      <!-- <datalist id="browsers" >
            <option *ngFor="let p of searchedProducts" [value]="p.designation_fr" routerLink="/" >

              </option>

            </datalist> -->
      <button type="submit" (click)="doSearch()">Rechercher</button>
    </div>
  </form>
</div>
