<app-breadcrumbs [page]="'Liste des produits'"></app-breadcrumbs>


<div class="shop_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!--sidebar widget start-->
        <div class="product_variant quantity" *ngIf="screenwidth <500">
          <button type="submit" (click)="isFilter = true" class=" btn btf">Filter </button>
        </div>
        <aside class="sidebar_widget" *ngIf="isFilter || screenwidth >=500">

          <div *ngIf="souscategories && souscategories.length >0" class="widget_list widget_categories categs">
            <h3>Categories</h3>
            <ul>
              <li *ngFor="let categ of souscategories"><a
                  class="{{slug_sous_categ && slug_sous_categ == categ.slug ? 'active_cat' :''}}"
                  [routerLink]="['/category' , categ.slug ]">{{categ.designation_fr}}</a></li>
            </ul>
          </div>
          <div *ngIf="categories && categories.length >0" class="widget_list widget_categories categs">
            <h3>Categories</h3>
            <ul>
              <li *ngFor="let categ of categories"><a
                  class="{{slug_categ && slug_categ == categ.slug ? 'active_cat' :''}}"
                  [routerLink]="['/categorie' , categ.slug ]">{{categ.designation_fr}}</a></li>

            </ul>
          </div>
          <div class="widget_list widget_filter">
            <h3>Price</h3>

            <div id="slider-range"></div>
            <button type="submit" (click)="filtrer()">Filter</button>
            <input type="text" name="text" id="amount" />
            <input type="hidden" [(ngModel)]="min" id="min_amount" />
            <input type="hidden" [(ngModel)]="max" id="max_amount" />


          </div>
          <div class="widget_list widget_categories brands" *ngIf="brands && brands.length >0">
            <h3>Fabricants</h3>
            <ul>
              <li *ngFor="let brand of brands" [routerLink]="['/brand' , brand.designation_fr , brand.id]">

                <label for="check1">{{brand.designation_fr}}</label>

              </li>

            </ul>
          </div>
          <div class="widget_list widget_categories">
            <h3>Arômes</h3>
            <select name="" id="" class="form-control" (change)="filter_arome($event)">
              <option value="">Choisir...</option>
              <option *ngFor="let arome of aromes" [value]="arome.designation_fr">{{arome.designation_fr}}</option>
            </select>

          </div>
          <div class="widget_list tags_widget">
            <h3>Mots clés</h3>
            <div class="tag_cloud">
              <a *ngFor="let tag of tags"
                [routerLink]="['/produits-search' , tag.designation_fr]">{{tag.designation_fr}}</a>

            </div>
          </div>
        </aside>
        <!--sidebar widget end-->
      </div>
      <div class="col-lg-9 col-md-12">

        <!--shop banner area start-->
        <div class="shop_banner_area mb-30" *ngIf="media && media.products_default_cover">
          <div class="row">
            <div class="col-12">
              <div class="shop_banner_thumb">
                <img [src]="storage+media.products_default_cover"
                  alt="{{selected && selected.alt_cover ? selected.alt_cover  : 'liste des produits'}}"
                  title="{{selected && selected.description_cover ? selected.description_cover : 'liste des produits'}}">
              </div>
            </div>
          </div>
        </div>
        <!--shop banner area end-->
        <!--shop toolbar start-->
        <div class="shop_toolbar_wrapper ">
          <div class="shop_toolbar_btn">
            <button data-role="grid_4" type="button" class="active btn-grid-4" data-bs-toggle="tooltip"
              title="4"></button>
            <!-- <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip" title="3"></button>
                      <button data-role="grid_list" type="button"  class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                  -->
            <p *ngIf="nom && nom != ''"> Affichage par
              <span *ngIf="tag">mot </span>

              <span *ngIf="id_brand">fabricant </span>
              <span *ngIf="slug_categ"> catégorie </span>
              <span *ngIf="slug_sous_categ">sous catégorie </span>
              <span *ngIf="arome">arôme </span>


              : {{nom}}
            </p>
          </div>
          <div class=" niceselect_option">

            <select (change)="trier($event)" class="form-control">

              <option selected value="1">Tri du plus récent au plus ancien</option>
              <option value="2">Tri par popularité</option>
              <option value="3">Tri par notes moyennes</option>
              <option value="4">Tri par tarif croissant</option>
              <option value="5">Tri par tarif décroissant</option>
            </select>

          </div>
          <div class="page_amount">
            <p>Affichage de {{produits.length}} résultats</p>
          </div>
        </div>
        <!--shop toolbar end-->
        <div *ngIf="selected?.more_details"  class="card blog_details mb-4" [innerHTML]="selected?.more_details">
        </div>
        <div class="row shop_wrapper grid_4">

          <ng-container *ngFor="let product of produits | paginate: { itemsPerPage: 24, currentPage: p }">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <app-product [product]="product" [key]="'_search_'"></app-product>
            </div>
          </ng-container>
          <pagination-controls (pageChange)="p = $event" class="my-pagination text-center" ></pagination-controls>
        </div>

        <div class="product_d_info">
          <nav>
            <div class="nav nav-tabs mobiletabs" id="nav-tab" role="tablist">
              <button class="product_info_button nav-link active" id="nav-one-tab" data-bs-toggle="tab"
                data-bs-target="#nav-one" type="button" role="tab" aria-controls="nav-one" aria-selected="true">
                <h4 class="m-0" >  {{ shopSectionInfo?.zone1 ? shopSectionInfo?.zone1 : 'Description' }}                </h4>
              </button>
              <button class="product_info_button nav-link" id="nav-three-tab" data-bs-toggle="tab"
                data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three" aria-selected="false">
                <h4 class="m-0" >{{ shopSectionInfo?.zone2 ? shopSectionInfo?.zone2 : 'Caractéristiques' }} </h4>
              </button>
              <button class="product_info_button nav-link" id="nav-four-tab" data-bs-toggle="tab" data-bs-target="#nav-four"
                type="button" role="tab" aria-controls="nav-four" aria-selected="false">
                <h4 class="m-0" >{{ shopSectionInfo?.zone3 ? shopSectionInfo?.zone3 : 'Questions' }} </h4>
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active pt-3" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
              <div class="product_info_content desc">
                <p [innerHTML]="selected?.description_fr" class="desc"></p>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
              <p class="p-3" [innerHTML]="selected?.nutrition_values" ></p>

            </div>
            <div class="tab-pane fade pt-3" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">
              <p class="p-3" [innerHTML]="selected?.questions" ></p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div *ngIf="selected" class="hidden_content" [innerHTML]="selected.content">
</div> -->
<!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-cfeaa155-3834-4e9d-aa42-85edf3242cda" data-elfsight-app-lazy></div> -->

<app-loader *ngIf="isLoading"></app-loader>
