<app-breadcrumbs [page]="'Remboursement'"></app-breadcrumbs>
<div class="about_bg_area">
  <div class="container">
    <!--about section area -->
    <section class=" mb-60">
      <div class="row align-items-center">
        <div class="col-12">
            <div class="faq-client_title">
                <h2>Politique de remboursement</h2>
              </div>
       <div class="about_section">
       
        <p>1. Notre politique dure 30 jours. Si plus de 30 jours se sont écoulés depuis votre achat, nous ne pouvons malheureusement offrir ni remboursement ni échange.

        </p>
        <p>2. Pour pouvoir être retourné, votre article doit être inutilisé et dans l'état où vous l'avez reçu. Il doit aussi être dans son emballage d'origine.


        </p>
        <p>3. Pour compléter votre retour, nous exigeons un reçu ou une preuve d'achat.

        </p>
        <p>4. Ne retournez pas votre achat au fabricant.

        </p>
        <p>5. Tout article qui n'est pas dans son état d'origine, qui est endommagé ou auquel il manque des pièces pour une raison non due à une erreur de notre part.
        </p>
        <p>6. Une fois votre retour reçu et inspecté, nous vous adresserons un e-mail pour vous indiquer que nous avons reçu l'article retourné. Nous vous préciserons également si votre remboursement est approuvé ou refusé.

        </p>
       </div>
        </div>
      </div>
    </section>
    <!--about section end-->





    <!--testimonial area start-->
    <div class="faq-client-say-area">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="faq-client_title">
            <h2>What can we do for you ?</h2>
          </div>
          <div class="faq-style-wrap" id="faq-five">
            <!-- Panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a
                    id="octagon"
                    class="collapsed"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapse1"
                    aria-expanded="true"
                    aria-controls="faq-collapse1"
                  >
                    <span class="button-faq"></span>Fast Free Delivery</a
                  >
                </h5>
              </div>
              <div
                id="faq-collapse1"
                class="collapse show"
                aria-expanded="true"
                role="tabpanel"
                data-bs-parent="#faq-five"
              >
                <div class="panel-body">
                  <p>Nam liber tempor cum soluta nobis eleifend option.</p>
                  <p>
                    Congue nihil imperdiet doming id quod mazim placerat facer
                    possim assum. Typi non habent claritatem insitam est usus
                    legentis in iis qui facit eorum claritatem. Investigationes
                    demonstraverunt lectores legere me.
                  </p>
                  <p>
                    Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium lectorum.
                  </p>
                </div>
              </div>
            </div>
            <!--// Panel-default -->

            <!-- Panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapse2"
                    aria-expanded="false"
                    aria-controls="faq-collapse2"
                  >
                    <span class="button-faq"></span>More Than 30 Years In The
                    Business</a
                  >
                </h5>
              </div>
              <div
                id="faq-collapse2"
                class="collapse"
                aria-expanded="false"
                role="tabpanel"
                data-bs-parent="#faq-five"
              >
                <div class="panel-body">
                  <p>Nam liber tempor cum soluta nobis eleifend option.</p>
                  <p>
                    Congue nihil imperdiet doming id quod mazim placerat facer
                    possim assum. Typi non habent claritatem insitam est usus
                    legentis in iis qui facit eorum claritatem. Investigationes
                    demonstraverunt lectores legere me.
                  </p>
                  <p>
                    Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium lectorum.
                  </p>
                </div>
              </div>
            </div>
            <!--// Panel-default -->

            <!-- Panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapse3"
                    aria-expanded="false"
                    aria-controls="faq-collapse3"
                  >
                    <span class="button-faq"></span>100% Organic Foods</a
                  >
                </h5>
              </div>
              <div
                id="faq-collapse3"
                class="collapse"
                role="tabpanel"
                data-bs-parent="#faq-five"
              >
                <div class="panel-body">
                  <p>Nam liber tempor cum soluta nobis eleifend option.</p>
                  <p>
                    Congue nihil imperdiet doming id quod mazim placerat facer
                    possim assum. Typi non habent claritatem insitam est usus
                    legentis in iis qui facit eorum claritatem. Investigationes
                    demonstraverunt lectores legere me.
                  </p>
                  <p>
                    Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium lectorum.
                  </p>
                </div>
              </div>
            </div>
            <!--// Panel-default -->

            <!-- Panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapse4"
                    aria-expanded="false"
                    aria-controls="faq-collapse4"
                  >
                    <span class="button-faq"></span>Best Shopping Strategies</a
                  >
                </h5>
              </div>
              <div
                id="faq-collapse4"
                class="collapse"
                role="tabpanel"
                data-bs-parent="#faq-five"
              >
                <div class="panel-body">
                  <p>Nam liber tempor cum soluta nobis eleifend option.</p>
                  <p>
                    Congue nihil imperdiet doming id quod mazim placerat facer
                    possim assum. Typi non habent claritatem insitam est usus
                    legentis in iis qui facit eorum claritatem. Investigationes
                    demonstraverunt lectores legere me.
                  </p>
                  <p>
                    Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium lectorum.
                  </p>
                </div>
              </div>
            </div>
            <!--// Panel-default -->
          </div>
        </div>

      </div>
    </div>
    <!--testimonial area end-->
  </div>
</div>
