<div class="product_items">
  <article class="single_product" (mouseover)="clicked = true">
    <figure>
      <div class="product_thumb pdiv">
        <a class="primary_img" [routerLink]="['/shop', product.slug]"
          ><img
            [ngSrc]="
              product.cover
                ? storage + product.cover
                : 'assets/img/product/p1.webp'
            "
            [style.opacity]="product.rupture == 0 ? 0.5 : 1"
            fill
            [alt]="
              product.alt_cover ? product.alt_cover : product.designation_fr
            "
            [title]="
              product.description_cover
                ? product.description_cover
                : product.designation_fr
            "
            class="product-image"
          />
          <div class="sign" *ngIf="product.rupture == 0">Rupture De Stock</div>
        </a>

        <div class="label_product" *ngIf="percentage">
          <span class="label_sale">Promo {{ percentage }} %</span>
        </div>

        <div
          class="label_product"
          *ngIf="product.new_product == 1; else bestseller"
        >
          <span class="label_new">New</span>
        </div>
        <ng-template #bestseller>
          <div class="label_product" *ngIf="product.best_seller == 1">
            <span class="label_new">Top Vendu</span>
          </div>
        </ng-template>

        <div class="quick_button">
          <a
            href="#"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#modal_box' + key + product.id"
            title="quick view"
            ><i class="fa fa-eye"></i
          ></a>
        </div>
      </div>
      <div class="product_content">
        <div class="product_content_inner">
          <h2 class="product_name">
            <a [routerLink]="['/shop', product.slug]" sty>
              <!-- {{
              product.sous_category?.designation_fr
            }} -->
              {{ product.designation_fr }}</a
            >
          </h2>
          <div class="product_rating">
            <ul>
              <li>
                <i
                  class="{{
                    product.note && product.note >= 1
                    ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
                  }}"
                ></i>
              </li>
              <li>
                <i
                  class="{{
                    product.note && product.note >= 2
                    ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
                  }}"
                ></i>
              </li>
              <li>
                <i
                  class="{{
                    product.note && product.note >= 3
                    ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
                  }}"
                ></i>
              </li>
              <li>
                <i
                  class="{{
                    product.note && product.note >= 4
                    ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
                  }}"
                ></i>
              </li>
              <li>
                <i
                  class="{{
                    product.note && product.note >= 5
                    ? 'fa-solid fa-star'
                  : 'fa-regular fa-star'
                  }}"
                ></i>
              </li>
            </ul>
          </div>

          <div class="price_box">
            <span class="old_price" *ngIf="product.promo">
              {{ product.prix }} DT</span
            >
            <span class="current_price"
              >{{ product.promo ? product.promo : product.prix }} DT</span
            >
          </div>
        </div>

        <div class="action_links pointer" *ngIf="product.rupture != 0">
          <ul>
            <li
              class="add_to_cart pointer"
              style="width: 100%"
              (click)="addToCard()"
            >
              Ajouter au panier
            </li>

          </ul>
        </div>
      </div>
    </figure>
  </article>
</div>

<!-- modal area start-->
<div
  *ngIf="clicked"
  class="modal fade"
  id="modal_box{{ key + product.id }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal_body">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="modal_tab">
                <div class="tab-content product-details-large">
                  <div
                    class="tab-pane fade show active"
                    id="tab1"
                    role="tabpanel"
                  >
                    <div class="modal_tab_img">
                      <a href="#" style="position: relative"
                        ><img
                          [src]="
                            product.cover
                              ? storage + product.cover
                              : 'assets/img/product/p1.webp'
                          "
                          [style.opacity]="product.rupture == 0 ? 0.5 : 1"
                          alt=""
                        />
                        <div class="sign" *ngIf="product.rupture == 0">
                          Rupture De Stock
                        </div>
                      </a>
                    </div>
                  </div>
                  <ng-container *ngFor="let photo of gallery; let i = index">
                    <div
                      class="tab-pane fade"
                      id="tab{{ i + 2 }}"
                      role="tabpanel"
                    >
                      <div class="modal_tab_img">
                        <a href="#"
                          ><img [src]="storage + photo.download_link" alt=""
                        /></a>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div
                  class="modal_tab_button"
                  *ngIf="gallery && gallery.length > 0"
                >
                  <ul class="nav product_navactive owl-carousel" role="tablist">
                    <li>
                      <a
                        class="nav-link active"
                        data-bs-toggle="tab"
                        href="#tab1"
                        role="tab"
                        aria-controls="tab1"
                        aria-selected="false"
                        ><img
                          [src]="
                            product.cover
                              ? storage + product.cover
                              : 'assets/img/product/p1.webp'
                          "
                          alt=""
                        />
                      </a>
                    </li>
                    <li *ngFor="let photo of gallery; let i = index">
                      <a
                        class="nav-link"
                        data-bs-toggle="tab"
                        href="#tab{{ i + 2 }}"
                        role="tab"
                        aria-controls="tab2"
                        aria-selected="false"
                        ><img [src]="storage + photo.download_link" alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="modal_right">
                <div class="modal_title mb-10">
                  <h2>{{ product.designation_fr }}</h2>
                </div>
                <div class="modal_price mb-10">
                  <span class="old_price" *ngIf="product.promo">
                    {{ product.prix }} DT</span
                  >
                  <span class="current_price"
                    >{{ product.promo ? product.promo : product.prix }} DT</span
                  >
                </div>
                <div class="modal_description mb-15 desc">
                  <p [innerHTML]="product.meta_description_fr"></p>
                </div>
             <!--    <div
                  class="product_variant color"
                  *ngIf="product.aromes && product.aromes.length > 0"
                >
                  <h3>Arômes</h3>
                  <select
                    class="select_option form-control"
                    style="width: 30%; margin-top: 5px"
                  >
                    <option
                      *ngFor="let arome of product.aromes"
                      selected
                      [value]="arome.id"
                    >
                      {{ arome.designation_fr }}
                    </option>
                  </select>
                </div> -->
                <div
                  class="product_variant quantity"
                  *ngIf="product.rupture != 0"
                >
                  <label>Quantité</label>
                  <input
                    min="1"
                    (change)="updatequantity($event)"
                    (keyup)="updatequantity($event)"
                    max="100"
                    value="1"
                    type="number"
                  />
                  <button
                    class="button"
                    [disabled]="!quantity || quantity < 0"
                    type="submit"
                    (click)="addToCard()"
                  >
                    Ajouter au panier
                  </button>
                </div>
                <div class="variants_selects">
                  <!--   <div class="variants_size">
                                     <h2>size</h2>
                                     <select class="select_option">
                                         <option selected value="1">s</option>
                                         <option value="1">m</option>
                                         <option value="1">l</option>
                                         <option value="1">xl</option>
                                         <option value="1">xxl</option>
                                     </select>
                                  </div>
                                  <div class="variants_color">
                                     <h2>color</h2>
                                     <select class="select_option">
                                         <option selected value="1">purple</option>
                                         <option value="1">violet</option>
                                         <option value="1">black</option>
                                         <option value="1">pink</option>
                                         <option value="1">orange</option>
                                     </select>
                                  </div> -->
                  <!--  <div class="modal_add_to_cart">
                    <form>
                      <button type="submit" (click)="addToCard()">
                        Ajouter au panier
                      </button>
                    </form>
                  </div> -->
                </div>
                <!-- <div class="modal_social">
                                  <h2>Partager ce produit</h2>
                                  <ul>
                                      <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                      <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                      <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
